<h1>Edit Categories</h1>
<div class="categories">
<table>
  <tr>
    <th><%= link_to "Boards", admin_boards_path %></th>
    <th><%= link_to "School Name", admin_schools_path%></th>
    <th><%= link_to "Classes/Sub Divisions", admin_divisions_path %></th>
    <th><%= link_to "Location", admin_locations_path %></th>
  </tr>
</table>

</div>
