<p>
  <strong>Division:</strong>
  <%= @division.division %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @division.stage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @division.description %>
</p>

<%= link_to 'Back', admin_divisions_path %>
