<div class="info">
  <div class="heading">
    <strong>Division:</strong>
  </div>
  <div class="data">
    <%= @division.division %>
  </div>
</div>

<div class="info">
  <div class="heading">
    <strong>Stage:</strong>
  </div>
  <div class="data">
    <%= @division.stage %>
  </div>
</div>

<div class="info">
  <div class="heading">
    <strong>Description:</strong>
  </div>
  <div class="data">
    <%= @division.description %>
  </div>
</div>

<%= link_to 'Back', admin_divisions_path %>
