// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.data_img img {
    width: 100%;
}
.info .data {
    background: #bfbfbf;
    padding: 8px;
}
.input-form {
    border: 3px solid #cccccc;
    background: #bfbfbf;
    width: 55%;
    margin: auto;
    margin-top: 15px;
}
.input-field {
    padding: 10px;
}

.input-section {
    padding: 5px;
}

.input-section input {
    width: 100%;
    height: 20px;
}
.input-section textarea {
    width: 100%;
    height: 50px;
}
.input-section select {
    width: 50%;
    height: 20px;
}
