// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.data_img img {
    width: 100%;
}
.info .data {
    background: #bfbfbf;
    padding: 8px;
}
