// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.data_img img {
    width: 100%;
}

.input-form {
    border: 3px solid #cccccc;
    padding: 20px;
    width: 55%;
    margin: auto;
    margin-top: 25px;
    box-shadow: 10px 35px 60px 10px #b3b3b3;
}
.input-field {
    padding: 10px 20px;
}

input#school_image {
    background: none;
}

.input-section input {
    width: 100%;
    height: 24px;
    border: none;
    background: #e6e6e6;
}
.input-section textarea {
    width: 100%;
    height: 50px;
    border: none;
    background: #e6e6e6;
}
.input-section select {
    width: 50%;
    height: 20px;
    border: none;
    background: #e6e6e6;
}
