// Place all the styles related to the Seekers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.input-section {
    display: flex;
}
.section {
    border: 2px solid #a6a6a6;
    padding: 10px;
    margin: 10px 0px;
}
.header {
    text-align: center;
}
error_explanation ul {
    list-style-type: square;
}
.reason {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    background: #ffcccc;
}
.reason-head {
    background: #ff6666;
    padding: 5px;
}
.reason-body {
    padding: 20px;
}

.admin-approve {
    display: flex;
    justify-content: center;
}
.option {
    text-align: center;
    padding: 10px;
    margin: 10px 10px 0 10px;
}
.option#approve {
    background: #66ff66;
}
.option#approve:hover{
  background: #99ff66;
  border: 2px solid #194d00;
  border-radius: 3px;
}
.option#reject {
    background: #ff5050;
}
.option#reject:hover {
    background: #ff6666;
    border: 2px solid #990000;
    border-radius: 3px;
}
.option a {
    text-decoration: none;
    color: black;
}
