<%= form_with(model: @seeker, local: true) do |form| %>
  <div class="input-form">
    <div class="input-field">
      <%= form.label :reason %><br>
    </div>
    <div class="input-section">
      <%= form.text_area :reason, required: true %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit Reason"%>
  </div>
<% end %>
